/* App.css */

.App {
  text-align: center;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
  font-size: 2rem;
}

.card {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

